<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="/resources/dive-logger.png" type="image/png">
</head>
<body class="auth-body">
  <%- include('../partials/_navbar.ejs') %>
  <main class="auth-main">
    <h1 class="auth-header">Create a new account!</h1>
    <form action="/auth/sign-up" method="POST" class="auth-form" id="sign-up-form">
      <div class="form-group">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" id="username" class="form-input" required />
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" id="password" class="form-input" required />
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-input" required />
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </main>
</body>
</html>
