<nav class="navbar" id="main-navbar">
  <button class="hamburger" aria-label="Menu">&#9776;</button>
  
  <div class="nav-links">
  <% if(user) { %>
    <a href="/dives" class="nav-link">Your profile</a>
    <a href="/dives/new" class="nav-link">Upload a new dive</a>
    <a href="/auth/sign-out" class="nav-link">Sign Out</a>
    <a href="/dives/all" class="nav-link">Dives gallery</a>
  <% } else { %>
    <a href="/auth/sign-in" class="nav-link">Sign In</a>
    <a href="/auth/sign-up" class="nav-link">Sign Up</a>
  <% } %>
  </div> 

  <div class="landing-image">
    <div>
      <a id="landing-link" href="/">
        <img id="navbar-image" src="/resources/Dive-Logger-Logo-Text.png" alt="Dive Logger">
      </a>
    </div>
  </div>
</nav>

<script>
  let lastScrollY = window.scrollY;
  const navbar = document.getElementById('main-navbar');
  const hamburger = document.querySelector('.hamburger')
  const navLinks = document.querySelector('.nav-links')

  window.addEventListener('scroll', () => {
    const currentScrollY = window.scrollY;

    if (currentScrollY > lastScrollY) {
      navbar.classList.add('hidden');
    } else {
      navbar.classList.remove('hidden');
    }

    lastScrollY = currentScrollY;
  });

  
  hamburger.addEventListener('click', () => {
    navLinks.classList.toggle('open');
    document.body.classList.toggle('menu-open', navLinks.classList.contains('open'));
  })
</script>