<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
  <% if (user) { %>
    <h1>Welcome, <%= user.username %>! you can upload you dives here</h1>
  <% } else { %>
    <h1>Welcome guest, sign in or sign up to upload a dive</h1>
  <% } %>
</body>
</html>
