<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your dives</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your dives</h1>
    <% dives.forEach(dive => { %>
    <div>
      <h1><a href="/dives/<%= dive._id %>"> <%= dive.name %></a></h1>
    </div>
    <ul>
      <li>Description: <%= dive.description %></li>
    </ul>
    <% }); %>
  </body>
</html>
